// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#unique {
  font-weight: bold;
  font-size: 55px;
  font-variant: small-caps;
  color: pink;
}

.kawasaki{
  color: limegreen;
}

.red-text {
  color: red;
}
